name: First Ci
on:
  push:
    branches:
      - master
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        user: action/checkout@v4
      - name: Run test
        run: echo "Ci is working"
